<div class="block block-about">
  <div class="block-about__wrapper1">
    <div class="grid__about">
      <h1>
        This is some kind of heading.and i surely cant understand it from the design!
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
        dolorem dignissimos quo aliquid vel, non nemo quod, earum libero eos
        in maxime optio modi suscipit. Placeat eum nulla tempora culpa!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
        consequatur eius modi iure quisquam asperiores, nulla ea! Eos natus,
        veniam minima rem autem non temporibus aspernatur recusandae ullam,
        iure quos?
      </p>
    </div>
    <div class="image">
      <img src="./assets/imageAbout.png" alt="an image">
    </div>
  </div>
</div>