<footer>
    <p>&copy {{year}} Company.All rights reserved</p>
    <p>Follow us on:</p>
    <img src="./assets/fb.png" alt="facebook">
    <img src="./assets/twitter.png" alt="twitter">
    <img src="./assets/linkedin.png" alt="linkedin">
    <img src="./assets/mail.png" alt="email">
</footer>
  