<footer>
    <p>&copy {{year}} Company.All rights reserved</p>
     <p>Follow us on:
        <a href="">
          <img src="./assets/fb.png" alt="facebook">
        </a>
        <a href="">
          <img src="./assets/twitter.png" alt="twitter">
        </a>
        <a href="">
          <img src="./assets/linkedin.png" alt="linkedin">
        </a>
        <a href="">
          <img src="./assets/mail.png" alt="email">
        </a>
      </p>
</footer>
  