

<div class="tumbnailbox">
<div class="wrapper">
  <div class="imagebox">
    {%include "../atoms/_avatar.html.twig" with {'asset_path':asset_path,'alt':alt} %}
  </div>
  <p>{{ description }}</p>
</div>
</div>