.block-about {
  display: flex;
  justify-content: center;
  .block-about__wrapper1 {
    margin: 2em;
    display: flex;
    justify-content: center;
    max-width: 1920px;
    .grid-about {
      max-width: 1000px;
      h1 {
        font-weight: 100;
      }
    }
    .image {
      min-width: 50%;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .block-about {
    word-break: break-all;
    word-wrap: break-word;
    .block-about__wrapper1 {
      display: flex;
      flex-wrap: wrap;
      .image {
        display: flex;
        justify-content: center;
      }
    }
  }
}
