footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: black;
  //height: 100px;
  color: white;
  .social-media-contact {
    // margin: 30px 50px;
    font-size: 12px;
    display: flex;
    flex: row nowrap;
    align-content: center;
    p {
      text-align: center;
    }
  }
}
