@import 'config/**/*.scss';
@import 'blockhome';
@import 'blockform';
@import 'blockabout';
@import 'blocktestimonial';
@import 'footer';
@import 'navbar';

body {
  font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans',
    'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed',
    'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  margin: 0px;
  box-sizing: border-box;
}
html {
  margin: 0px;
}

.block {
  width: 100%;
}
.slgrabbing {
  cursor: grabbing;
}
