<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>HomePage</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	{% include "./organisms/_navbar.html.twig" %}
	{% include "./organisms/_blockHome.html.twig" %}
	{% include "./organisms/_blockAbout.html.twig" %}
	{% include "./organisms/_blockTestimonial.html.twig" %}
	{% include "./organisms/_blockForm.html.twig" %}
	{% include "./organisms/_footer.html.twig" with {'year':2019} %}
	<script src="nav.js"></script>
</body>

</html>