 <div class="testimonialBox">
  <div class="TBoxWrapper">
    <div class="comment">
      <blockquote>
       {{ comment }}
      </blockquote>
    </div>
    <div class="clientDetails">
      <div class="client-image">
        {% include '../atoms/_avatar.html.twig' with {'asset_path':asset_path} %}
      </div>
      <p>{{client_name}}</p>
    </div>
  </div>
</div>